body {
    font-family: "Open Sans",apple-system,blinkmacsystemfont,"Segoe UI","Helvetica Neue",arial,sans-serif;
    background-color: #f9f9f9;
}
h2 {
    align-items: center;
    text-align: center;
    width: auto;
    background-color: #26418f;
    color: white;
    font-family: "Open Sans",apple-system,blinkmacsystemfont,"Segoe UI","Helvetica Neue",arial,sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    padding: 7px;
}

p {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    align-items: center;
    width: auto;
    letter-spacing: 1px;
}

h3 {
    text-align: center;
    width: auto;
    margin-bottom: 2rem;
    font-weight: 300;
    color: black;
    letter-spacing: 1.2px;
}

.center {
background-color: white;
border-radius: 5px;
border: 1.5px solid #26418f;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
padding: 15px;
margin-left: 10rem;
margin-right: 10rem;
}

#fname {
    border: 1px solid lightgray;
    border-radius: 2px;
    text-align: center;
}

table, th, td {
    font-size: 16px;
    font-weight: 300;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-right: 22px;
    letter-spacing: 1px;
}

.calc {
    margin-top: 4.2rem;
    text-align: center;
}


button {
  appearance: button;
  letter-spacing: 0.8px;
  backface-visibility: hidden;
  background-color: #26418f;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

button:disabled {
  cursor: default;
}

button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
